/*fontface*/

@font-face {
  font-family: IBH;
  src: url(../fonts/IB-Heavy.eot?#iefix) format('embedded-opentype'), url(../fonts/IB-Heavy.woff) format('woff'), url(../fonts/IB-Heavy.ttf) format('truetype'), url(../fonts/IB-Heavy.svg#Font) format('svg');
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: IB;
  src: url(../fonts/IB-Book.eot?#iefix) format('embedded-opentype'), url(../fonts/IB-Book.woff) format('woff'), url(../fonts/IB-Book.ttf) format('truetype'), url(../fonts/IB-Book.svg#Font) format('svg');
  font-weight: 400;
  font-style: normal
}

/*menu test https://codepen.io/andreasstorm/pen/lriga */



* {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: visible
}

/* languages*/

#EN {
  display: none;
}

#FR {
  display: block
}

#ES {
  display: none
}

#DE {
  display: none
}

.lengua {
  margin-right: -2%;
}

.pagebreak{
  page-break-after: always;
  display: inline;
}
/*-----------------navigation--------------------------*/

nav {}

nav ul {
  float: left;
  padding-top: 1em;
}

nav ul li {
  display: inline-block;
  float: left;
}

nav ul li:not(:first-child) {
  margin-left: 25px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #1f2227;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.04em;
}

nav ul li a:hover {
  color: #808080;
  text-decoration: none;
}

/*-----------------MENU--------------------------*/

.fadein {
  hyphens: normal;
  animation: fadein 3s;
  -moz-animation: fadein 3s;
  /* Firefox */
  -webkit-animation: fadein 3s;
  /* Safari and Chrome */
  -o-animation: fadein 3s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  font-family: IB;
  color: black;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: black;
}

.site-title {
  float: left;
  display: inline-block;
  font-size: 1vw;
}

.header {
  padding-top: 20px;
  margin-bottom: 5%;
}

.project__header {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
flex-direction: row;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.contenu {
  text-decoration: none;
  display: none;
  font-family: IB;
  margin-bottom: 2em;
}

.project-info p {
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

.st3 {
  background: #479265;
  background: rgba(71, 146, 101, 1);
}

.st4 {
  background: #D98B59;
  background: rgba(217, 139, 89, 1);
}

.st5 {
  background: #345499;
  background: rgba(52, 84, 153, 1);
}

.st6 {
  background: #B8394B;
  background: rgba(184, 57, 75, 1);
}

.st7 {
  background: #633C7C;
  background: rgba(99, 60, 124, 1);
}

.st8 {
  background: #E7DF62;
  background: rgba(231, 223, 98, 1);
}

/*projects*/

#collфdæl {
  font-size: 7vw;
  font-family: IBH;
  color: #633C7C;
  page-break-before: always;
}

#chambre {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #D98B59;
  page-break-before: always;
}

#dumbar {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #479265;
  page-break-before: always;
}

#andes {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #E7DF62;
  page-break-before: always;
}

#wiki2epub {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #E5A0C5;
  page-break-before: always;
}

#scanner {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #345499;
  page-break-before: always;
}

#oisseaux {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #B8394B;
  page-break-before: always;
}

#hyg {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #5C5252;
  page-break-before: always;
}

#chaumont {
  font-size: 7vw;
  font-family: IBH;
  color: #000000;
}

/*experience*/

#IRB {
  font-size: 7vw;
  font-family: IBH;
  color: #BA3E58;
  page-break-before: always;
}

#Plab {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #318F5B;
  page-break-before: always;
}

#ambassade {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #25346D;
  page-break-before: always;
}

#perrine {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #644589;
  page-break-before: always;
}

#surreal {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #B8394B;
  page-break-before: always;
}

#hellotomorrow {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #504446;
  page-break-before: always;
}

/*workshops*/

#openset {
  font-size: 7vw;
  font-family: IBH;
  color: #BA3E58;
  page-break-before: always;
}

#CIID {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #318F5B;
  page-break-before: always;
}

#wearablesculpture {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #25346D;
  page-break-before: always;
}

#son {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #644589;
  page-break-before: always;
}

a:active, a:hover, a:link, a:visited {
  outline: 0;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a.active, a:active, a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
   text-decoration-skip: ink;
  text-decoration-skip: spaces leading-spaces trailing-spaces;

}

.carre {
  width: auto;
  height: auto;
  padding: 20px;
  overflow: hidden;
  margin: 3%;
}

a img {
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  display: relative;
  cursor: move;
}

.information {
  flex: auto;
    width:200px;

}

.information h2 {
  font-family: IBH;
  font-size: 10px;
}

.information h2 p {
  font-family: IB;
}

.info_texto {
  flex-basis: auto;
}

.project-info {
  flex-basis: 80%;
  margin-bottom:3%;


}

.plus {
  font-size: 32px;
  font-family: IBH;
  margin-right: 2%;
}

.links {
  font-family: IBH;
}

p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

h2 {
  margin: 0;
}

#col {
  margin-right: 3%;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.ui-draggable-dragging {
  cursor: move;
}

a img:hover {
  cursor: move;
}

.hidden {
  display: none;
}

.article {
  display: inline;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.inline {
  display:block;
}

.contenu {
  text-decoration: none;
  display: none;
  font-family: IB;
  margin-bottom: 2em;
}

/*projects*/

#collфdæl {
  font-size: 7vw;
  font-family: IBH;
  color: #633C7C;
  page-break-before: always;
}

#chambre {
  font-size: 7vw;
  font-family: IBH;
  color: #D98B59;
  page-break-before: always;
}

#dumbar {
  font-size: 7vw;
  font-family: IBH;
  color: #479265;
  page-break-before: always;
}

#andes {
  font-size: 7vw;
  font-family: IBH;
  color: #E7DF62;
  page-break-before: always;
}

#wiki2epub {
  font-size: 7vw;
  font-family: IBH;
  color: #E5A0C5;
  page-break-before: always;
}

#scanner {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #345499;
  page-break-before: always;
}

#oisseaux {
  font-size: 7vw;
  font-family: IBH;
  color: #B8394B;
  page-break-before: always;
}

#hyg {
  font-size: 7vw;
  font-family: IBH;
  color: #5C5252;
  page-break-before: always;
}

#chaumont {
  font-size: 7vw;
  font-family: IBH;
  color: #000000;
}

#sportbook {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #2F363E;
  page-break-before: always;
}

/*experience*/

#IRB {
  font-size: 7vw;
  font-family: IBH;
  color: #BA3E58;
  page-break-before: always;
}

#Plab {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #318F5B;
  page-break-before: always;
}

#ambassade {
  font-size: 7vw;
  font-family: IBH;
  color: #25346D;
  page-break-before: always;
}

#perrine {
  font-size: 7vw;
  font-family: IBH;
  color: #644589;
  page-break-before: always;
}

#surreal {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #B8394B;
  page-break-before: always;
}

#hellotomorrow {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #504446;
  page-break-before: always;
}

/*workshops*/

#openset {
  font-size: 7vw;
  font-family: IBH;
  color: #BA3E58;
  page-break-before: always;
}

#CIID {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #318F5B;
  page-break-before: always;
}

#wearablesculpture {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #25346D;
  page-break-before: always;
}

#son {
  font-size: 7vw;
  ;
  font-family: IBH;
  color: #644589;
  page-break-before: always;
}

.titulo {
  page-break-before: always;
  text-decoration: underline;
   font-size: : 15vw;!important;
  font-weight: 700;
  z-index: 4;
  position: relative;
  font-size: 7vw;;
  font-family: IBH;
  color: #25346D;

  margin-right: 2%;
}

a:active, a:hover, a:link, a:visited {
  outline: 0;
  text-decoration: none;
  color: rgb(0, 0, 0);
     text-decoration-skip: ink;
    text-decoration-skip: spaces leading-spaces trailing-spaces;
}

a.active, a:active, a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
     text-decoration-skip: ink;
     text-decoration-skip: spaces leading-spaces trailing-spaces;
}

.languages {
  display: inline;
}

.carre {
  width: auto;
  height: auto;
  padding-bottom: 80px;
  overflow: hidden;
  margin: 3%;
}

.c {
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  display: relative;
}

.information h2 {
  font-family: IBH;
  font-size: 10px;
}

.information h2 p {
  font-family: IB;
}

.info_texto {
  flex-basis: auto;
}

.project-info {
  flex-basis: 80%;

}

.links {
  font-family: IBH;
}

p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

h2 {
  margin: 0;
}

#col {
  margin-right: 3%;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.ui-draggable-dragging {
  cursor: move;
}

a img:hover {
  cursor: move;
}

@media only screen and (max-width: 767px) {
  #col {
    margin-right: 3%;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1f2227;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 95%;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-container ul li:first-child {
    float: left;
  }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #1f2227;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
  #nav:checked+.nav-open {
    transform: rotate(45deg);
  }
  #nav:checked+.nav-open i {
    background: #fff;
    transition: transform 0.2s ease;
  }
  #nav:checked+.nav-open i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
  }
  #nav:checked+.nav-open i:nth-child(2) {
    opacity: 0;
  }
  #nav:checked+.nav-open i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
  }
  #nav:checked~.nav-container {
    z-index: 9990;
    opacity: 1;
  }
  #nav:checked~.nav-container ul li a {
    opacity: 1;
    transform: translateY(0);
  }
  .project__header {
    margin-top: 3%;
    justify-content: space-between;
    flex-wrap: wrap;
flex-direction: row;
    /**/
  }
  .project-info {
    flex-basis: 80%;
    margin-bottom:3%;

  }
  .information {
    font-size: 10px;
    font-family: IB;
    page-break-after: always;
  width:200px;
    margin-left: 0
  }
}

@page {
  size: A4 portrait;
  margin: 0.5cm;
}

/*@page {
  size: A4 landscape;
  margin: 0.5cm;
}*/

@media print {
  .abrir {
    margin-top: 0.7cm;
  }
  .hidden-print {
    display: none;
    !important
  }
  .header {
    display: none;
  }
  .information {
    font-size: 10px;
    font-family: IB;
    page-break-after: always;
    position: relative;
      width:200px;
  }
  .titulo {
    float: none;
    page-break-before: always;
    position: relative
  }
  .div {
    float: none;
  }
  .contenu {
    float: none;
    position: relative
  }
  .project-info {
    display: block;
    margin-bottom:3%;
  }
  .plus {
    display: none;
  }
  .carre {
    width: 700px;
  }
  .pagebreak{
    display:inline-block;
  }
}

@media only screen and (max-width: 480px) {
  #col {
    margin-right: 3%;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1f2227;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 95%;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-container ul li:first-child {
    float: left;
  }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #1f2227;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
  #nav:checked+.nav-open {
    transform: rotate(45deg);
  }
  #nav:checked+.nav-open i {
    background: #fff;
    transition: transform 0.2s ease;
  }
  #nav:checked+.nav-open i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
  }
  #nav:checked+.nav-open i:nth-child(2) {
    opacity: 0;
  }
  #nav:checked+.nav-open i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
  }
  #nav:checked~.nav-container {
    z-index: 9990;
    opacity: 1;
  }
  #nav:checked~.nav-container ul li a {
    opacity: 1;
    transform: translateY(0);
  }
  .project__header {
    margin-top: 3%;
    justify-content: space-between;
    flex-wrap: wrap;
flex-direction: row;
  }
  .project-info {
    flex-basis: 80%;
    margin-bottom:3%;

  }
  .information {
    font-size: 10px;
    font-family: IB;
    page-break-after: always;
    margin-top: 2%;
    margin-left: 0;
    width:200px;
  }
  .c {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    display: relative;
  }
  a img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    display: relative;
    cursor: move;
  }

  .titulo{
display: inline;
    font-size: 15vh;
  }
}
